@import '../components/harp-bootstrap/less/_bootstrap.less';
@import '_variables.less';


// Navbar body attributes
// -------------------------
body {
//  padding-top: 90px;  //if navbar fixed top
//  padding: 0; //if navbar static top
    margin-bottom:0;
    padding-bottom:0;
}   

// Making rows into responsive,  cards
// -------------------------

.row {
  margin: 20px;


  @media screen and (min-width: @screen-md-min) {
    min-height: 600px;
  }
}

// 
// -------------------------

.googleCalendarIframe {
  border-width: 0; 
  width: 100%; 
  height: 500px;

  @media screen and (min-width: @screen-sm-min) {
    height: 700px;
  }
}

