.row(style="background:rgb(174, 90, 175);color:rgb(29,33,39);")
        .col-sm-12
            h2.text-center
                a(name="education")
                | Education
        .col-sm-6.col-md-4
            .thumbnail
                img(src="/img/edu_mb101.png").img-responsive
                .caption
                    h3
                        a.muted Molecular biology 101 (in development)
                    p A 10-session overview of the fundamentals of molecular biology, designed by a McGill PhD student.
                    p Designed to take biology beginners to an intermediate-advanced understanding of molecular biology quickly, this course covers the function of DNA and several biotechnological tools.
                    p This course is still in development. We plan to start offering sessions in the summer of 2014.
                    p.text-center
        .col-sm-6.col-md-4
            .thumbnail
                img(src="/img/edu_bricobroue.png").img-responsive
                .caption
                    h3
                        a(href="http://www.meetup.com/DIYBio-Montreal/events/170251532/") Bricobrew
                    p Bricobrew - a biology-focused workshop on fermented foods.
                    p A 3-session workshop in which we prepare a (different set of) beer(s) (every time). We also discuss the biology of fermentation and take a hands-on tour of the world's fermented foods.
                    p.text-center
        .col-sm-6.col-md-4
            .thumbnail
                img(src="/img/edu_genomikon.png").img-responsive
                .caption
                    h3
                        a(href="http://www.meetup.com/DIYBio-Montreal/events/150408782/") Genomikon Workshop
                    p We held our first Genomikon workshop in the fall of 2013. See this
                        a(href='http://blog.synbiota.com/index.php/2014/03/06/genomikonbricobio-workshop/') blog post
                        | at Synbiota to find out what we did!
                    p Investigate the procedure and results at our
                        a(href="https://www.synbiota.com/projects/340") open lab notebook
                        | !
                    p.text-center