script(type="text/javascript").
  $(function() { 

    $('#gcf-events').gCalFlow({
      calid: 'l1nv8tbg54emb1p7a1uvj0kr54@group.calendar.google.com',
      mode: 'upcoming',
      maxitem: 4,
      auto_scroll: false,
      item_description_as_html: true,
      globalize_fmt_datetime: "dddd', 'MMMM' 'dd', 'yyyy' 'HH':'mm",
      globalize_fmt_date: "dddd', 'MMMM' 'dd",
      globalize_fmt_time: "HH':'mm",
      globalize_fmt_monthday: "MMMM' 'dd",
      date_formatter: function (date, allday_p) {
        function pad(n) { return n < 10 ? "0"+n : n; };
        return "<div class='gcf-custom-datepanel'><div class='gcf-custom-day'>" + pad(date.getDate()) + "<\/div>" + "<div class='gcf-custom-month'>" + pad(date.getMonth()+1) + "<\/div>" + "</div>" + "<div class='gcf-custom-time'>" + pad(date.getTime()) + "<\/div>";
      },
      callback: function() {$(".gcf-item-description").linkify({newLine: '<br>'})}
    });
    $('#gcf-organization').gCalFlow({
      calid: '0o4hntb479n0klskf8c7dop0e0@group.calendar.google.com',
      mode: 'upcoming',
      maxitem: 5,
      auto_scroll: false,
      item_description_as_html: true,
      callback: function() {$(".gcf-item-description").linkify({newLine: '<br>'})}
    });

    $('#gcf-events a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
    $('#gcf-organization a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
    
  });
  

//-
 Nav tabs 
ul.nav.nav-tabs(role='tablist', style="width:90%;margin-left:8%;border-bottom:solid 2px white;z-index: 5;")
  li.active
    a(href='#gcf-events', role='tab', data-toggle='tab') Upcoming Events
  li
    a(href='#gcf-organization', role='tab', data-toggle='tab') Organization
//-
   Tab panes 


.tab-content
  #gcf-events.active.fade.in()
    .scroll-container
      .gcf-item-container-block
        
          .gcf-item-block.col-xs-6.col-sm-6.col-md-4.col-lg-3
            .card
              .gcf-item-date-block.card(style="width: 85px; height: 100px; text-align: center; float: left; border: solid 1px blue; margin-right: 20px;")
                //-.gcf-item-date.gcf-item-start-date 00/00
                .gcf-item-date.gcf-item-daterange date here
              .gcf-item-header-block
                .gcf-item-title-block
                  h4.gcf-item-title(style="word-wrap:break-word;") Item Title of each event
                  p.gcf-item-location(style="word-wrap:break-word;") Address of the event
              .clearfix

              .gcf-item-description(style="margin-left:20px;margin-top:10px;")
                p Description of the event
    .gcf-header-block
      .gcf-title-block
        h5 Subscribe to the 
          span.gcf-title replaced with calendar name

  #gcf-organization.tab-pane.fade
    .scroll-container
      .gcf-item-container-block
        .gcf-item-block.row(style="padding:0; margin: 20px auto;")
          .gcf-item-date-block(style="width: 85px; height: 100px; text-align: center; float: left; border: solid 1px blue; margin-right: 10px;")
            .gcf-item-date.gcf-item-start-date 00/00
          .gcf-item-header-block
            .gcf-item-title-block
              h4.gcf-item-title(style="word-wrap:break-word;") Item Title of each event
              p.gcf-item-location(style="word-wrap:break-word;") Address of the event
          .clearfix

          .gcf-item-description(style="margin-left:20px;margin-top:10px;")
            p Description of the event
    .gcf-header-block
      .gcf-title-block
        h5 Subscribe to the 
          span.gcf-title replaced with calendar name    


