.col-sm-12
    h2.text-center
        a(name="news")
        | Featured Projects
.col-sm-12.col-lg-4.text-center
    .thumbnail
        img(src="/img/prj-printer-mod.png").img-responsive
        .caption
            h3
                a(href="http://bricobio.com/projects/bioprinting") Bioprinting
.col-sm-12.col-lg-4.text-center
    .thumbnail
        img(src="/img/bricobrew_workshop_logo.png").img-responsive
        .caption
            h3
                a(href="http://bricobio.com/brew") Bricobrew
.col-sm-12.col-lg-4.text-center
    .thumbnail
        img(src="/img/diy-electrophoresis.png").img-responsive
        .caption
            h3
                a(href="http://bricobio.com/projects/electrophoresis") Electrophoresis