.col-sm-12
    h2.text-center
        a(name="news")
        | Featured Projects
.col-sm-6.col-md-4
    .thumbnail
        img(src="/img/bacteriart_project.png").img-responsive
        .caption
            h3
                a(href="http://www.meetup.com/DIYBio-Montreal/events/171862352/") Upcoming event: Bricobrew workshop, take 2!
            p We'll be taking another run at the brewing workshop this Saturday, March 22 from 1 to 4 pm.
            p.text-center
.col-sm-6.col-md-4
    .thumbnail
        img(src="/img/bricobrew_workshop_logo.png").img-responsive
        .caption
            h3
                a(href="http://www.meetup.com/DIYBio-Montreal/events/170251532/") Bricobrew workshop
            p We held our first Bricobrew Workshop this last Sunday, March 16. It was a lot of fun! See our Twitter feed
                a(href='https://www.twitter.com/bricobiomtl') @bricobiomtl
                |  for a rundown of what happened!
            p.text-center
.col-sm-6.col-md-4
    .thumbnail
        img(src="/img/nws_diybio.png").img-responsive
        .caption
            h3
                a Let's talk about SBX
            p Your vision for Bricobio and the DIYbio movement this year is big, and we want to help you make it happen!
            p.text-center