script(type="text/javascript").
  $(function() { 

    $('#gcf-events').gCalFlow({
      calid: 'l1nv8tbg54emb1p7a1uvj0kr54@group.calendar.google.com',
      mode: 'upcoming',
      maxitem: 4,
      auto_scroll: false,
      item_description_as_html: true,
      date_formatter: function (date, allday_p) {
        var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
        //- INTRODUCING: Future Translation Problems!
        function pad(n) { return n < 10 ? "0"+n : n; };
        return "<div class='gcf-custom-datepanel'><div class='gcf-custom-day'>" + pad(date.getDate()) + "<\/div>" + "<div class='gcf-custom-month'>" + monthNames[date.getMonth()] + "<\/div>" + "<\/div>" + "<div class='gcf-custom-time'>" + date.getHours() + ":" + pad(date.getMinutes()) + "";
      },
      callback: function() {$(".gcf-item-description").linkify({newLine: '<br>'})}
    });
    //- $('#gcf-organization').gCalFlow({
    //-   calid: '0o4hntb479n0klskf8c7dop0e0@group.calendar.google.com',
    //-   mode: 'upcoming',
    //-   maxitem: 5,
    //-   auto_scroll: false,
    //-   item_description_as_html: true,
    //-   callback: function() {$(".gcf-item-description").linkify({newLine: '<br>'})}
    //- });

    //- $('#gcf-events a').click(function (e) {
    //-   e.preventDefault()
    //-   $(this).tab('show')
    //- });
    //- $('#gcf-organization a').click(function (e) {
    //-   e.preventDefault()
    //-   $(this).tab('show')
    //- });
    
  });
  

//-
 Nav tabs 
//- ul.nav.nav-tabs(role='tablist', style="width:90%;margin-left:8%;border-bottom:solid 2px white;z-index: 5;")
//-   li.active
//-     a(href='#gcf-events', role='tab', data-toggle='tab') Upcoming Events
//-   li
//-     a(href='#gcf-organization', role='tab', data-toggle='tab') Organization
//-
   Tab panes 
.col-sm-12
  h2.text-center Upcoming Events
  br
    
#gcf-events.container

  .scroll-container.row
    .gcf-item-container-block
      
        .gcf-item-block.col-xs-12.col-sm-6.col-md-4.col-lg-3
          .card
            .gcf-item-date-block
              .gcf-item-date.gcf-item-daterange date here 
            .gcf-item-header-block
              .gcf-item-title-block
                h4.gcf-item-title Item Title of each event
                p.gcf-item-location Address of the event
            .gcf-item-description
              p Description of the event
            .clearfix

  .gcf-header-block.row
    .gcf-title-block.col-xs-12.text-right
      h5 Subscribe to the 
        a.btn.btn-sm.btn-info(href="http://www.google.com/calendar/render?cid=https://www.google.com/calendar/ical/l1nv8tbg54emb1p7a1uvj0kr54%40group.calendar.google.com/public/basic.ics") Bricobio Events Calendar 
          span.glyphicon.glyphicon-calendar
      
  //- #gcf-organization.tab-pane.fade
  //-   .scroll-container
  //-     .gcf-item-container-block
  //-       .gcf-item-block.row(style="padding:0; margin: 20px auto;")
  //-         .gcf-item-date-block
  //-           .gcf-item-date.gcf-item-start-date 00/00
  //-         .gcf-item-header-block
  //-           .gcf-item-title-block
  //-             h4.gcf-item-title(style="word-wrap:break-word;") Item Title of each event
  //-             p.gcf-item-location(style="word-wrap:break-word;") Address of the event
  //-         .clearfix

  //-         .gcf-item-description(style="margin-left:20px;margin-top:10px;")
  //-           p Description of the event
  //-   .gcf-header-block
  //-     .gcf-title-block
  //-       h5 Subscribe to the 
  //-         span.gcf-title replaced with calendar name    


