h1 Who are we?
p
	|We are a group of amateur, professional, student, and hobbyist biologists who aim to revolutionize the way biological science is used in society.
	|In the near term, we are setting up a wetlab space. We have growing list of projects we are interested in persuing, which are described on our 
	a(href="/projects.html", alt="Bricobio Projects") Projects&nbsp;
		span.glyphicon.glyphicon-link
	|  page.
	|In the long-term, we aim to provide a space where anybody with an idea about biology can safely come and test it out. 
h1 What are we doing?
h1 Why are we doing this?
h1 Where to find us
p 
	|We meet near the station Rosemont at the SENSORICA lab at the Campus des technologies de la sante (CTS).
	|5795 Av. de Gaspe, Montreal, Quebec.
	|You should check out our events and drop in then!
!='<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11179.805065659199!2d-73.60023959261241!3d45.53118623145191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9197ad90d8157%3A0xa1318c4d2a467440!2s5795+Avenue+de+Gasp%C3%A9!5e0!3m2!1sen!2sus!4v1403216932851" width="400" height="300" frameborder="0" style="border:0; width:100%"></iframe>'
h1 Get involved!
p
	| Click 
	a(href="#bottomest") here to learn how 
	| to get involved and contact us. 

	