h1 Who are we?
p We are a group of amateur, professional, student, and hobbyist biologists who aim to revolutionize the way biological science is used in society.
p In the near term, we are setting up a wetlab space. We have growing list of projects we are interested in persuing, which can be found on our Trello Projects Page.
p In the long-term, we aim to provide a space where anybody with an idea about biology can safely come and test it out. 
h1 What are we doing?
h1 Why are we doing this?
h1 Where to find us:
p We meet near the station Rosemont
p(onclick="")
h1 How to get involved: