//-.text-center
    img(src='/img/bricobio-aligned-peptide-white-chimera3.jpg')
//- TODO: make responsive style for buttons btn-lg --> btn-sm by screen size
//- TODO: make ribbon responsive
    
.text-center
  //-.content-box
  h1 Science for everyone.
  p.lead Bricobio, Montreal's first community biology laboratory.
  .container-fluid
      ul.list-inline.text-center
        li.jumbotron-buttons-li
            a(href="http://www.meetup.com/diybio-montreal").btn-lg.btn-success Join us at an upcoming event
                span.glyphicon.glyphicon-chevron-right

        li.jumbotron-buttons-li
            a(href="/contact.html").btn-lg.btn-success Start your project
                span.glyphicon.glyphicon-chevron-right

        li.jumbotron-buttons-li
            a(href="/projects.html").btn-lg.btn-success Join a project
                span.glyphicon.glyphicon-chevron-right
  #ribbon-container
    a#ribbon(href='/bacteriart.html') Find your BacteriArt
