.text-center
    img(src='/img/bricobio-aligned-peptide-white-chimera3.jpg')
    br
    a(href="./bacteriart.html").btn-lg.btn-danger Find your Bacterial Art!
      span.glyphicon.glyphicon-chevron-right
.text-right
    h1(style="font-family: Lato; color: black;") Science for everyone.
    p.lead(style="color:black;") Bricobio, Montreal's first community biology laboratory.
    .container-fluid
        ul.list-inline.text-center
          li(style="margin-bottom:35px;")
              a(href="#EventsCalendar").btn-lg.btn-success Join us at an upcoming event
                  span.glyphicon.glyphicon-chevron-right

          li(style="margin-bottom:35px;")
              a(href="#GetInvolved").btn-lg.btn-success Start your project
                  span.glyphicon.glyphicon-chevron-right

          li(style="margin-bottom:35px;")
              a(href="/projects.html").btn-lg.btn-success Join a project
                  span.glyphicon.glyphicon-chevron-right