.main-page-row(style="background:#f3f3f3;" id="bottomest")
    .col-sm-6
        h2.text-center
            a(name="about")
            | About us

        p Bricobio is a DIYbio / biohacking group located in Montreal. Our members are working on several projects, which can be found in the
          a.btn.btn-small.btn-info(href="#projects", style="padding:2px 3px;") Projects
          |  section.
    .col-sm-6
        h2.text-center
            a(name="GetInvolved")
            | Getting involved with Bricobio
        p To join or start a project, visit the project's Synbiota 
            a(href="#projects") notebook
            |  or post in the
            a(href="#contact") Bricobio discussion forum 
            | , and jump right in! We have a great network of talented people to help you find what you need to bring your ideas to life, and learn what you need to know to get your project off the ground.
