.row(style="background:rgb(218,227,226);")
    .col-sm-12
        h2.text-center
            a(name="projects")
            | Projects
    .col-sm-6.col-md-4
        .thumbnail
            img(src="/img/prj_bricoreactor.png").img-responsive
            .caption
                h3
                    a(href="https://www.synbiota.com/projects/428") Bricoreactor
                p We are developing a very low cost, modular, and extesible bioreactor in collaboration with
                    a(href="http://www.hyasynthbio.com") Hyasynth
                    |  and
                    a(href="http://www.sensorica.co") Sensorica
                    | .
                p.text-center
    .col-sm-6.col-md-4
        .thumbnail
            img(src="/img/prj_sciencehack.png").img-responsive
            .caption
                h3
                    a(href="https://sciencehack.synbiota.com/") Synbiota #ScienceHack
                p Bricobio co-founders Justin Praha and Connor Dickie of Synbiota have recently launched an amazing distributed, open synthetic biology experiment to produce a life-saving drug using
                    i E. coli,
                    | the Public Labs spectrometer, and the Genomikon plasmid kit.
                p Get involved at
                    a(href="https://sciencehack.synbiota.com/") sciencehack.synbiota.com
                    | !
                p.text-center
    .col-sm-6.col-md-4
        .thumbnail
            img(src="/img/prj_yours.png").img-responsive
            .caption
                h3
                    a(href="#contact") Your project here?
                p Come talk to us about your ideas!
                p.text-center
