h3 Upcoming Events
ul.list-group
    li.list-group-item
        h4 Algae Growing Workshop
        p Day date time
        p Event description
    li.list-group-item
        h4 DIY Electrophoresis Workshop
        p Day date time
        p Event description
    li.list-group-item
        h4 Analytical DNA Preparations
        p Day date time
        p Event description
    li.list-group-item
        h4 Saftey Training Session
        p Day date time
        p Event description
    li.list-group-item
        h4 Photolithographic Microfluidic Circuits Workshop
        p Day date time
        p Event description
    li.list-group-item
        h4 Bio101 Session One
        p Day date time
        p Event description