h3 Upcoming Events
script(type="text/javascript").
  $(function() { $('#gcf-simple').gCalFlow({
    calid: 'l1nv8tbg54emb1p7a1uvj0kr54@group.calendar.google.com'
  });});
div(id="gcf-simple", style="width:100%;height:600px;")
