.container
    h1 Bricobio's projects on Synbiota
    .row
        .col-md-4
            .h3 DIY Gel electrophoresis
            iframe.synbiota(height="400" scrolling="yes" src="https://www.synbiota.com/embedded/projects/604")
        .col-md-4
            .h3 BricoReactor
            iframe.synbiota(height="400" scrolling="yes" src="https://www.synbiota.com/embedded/projects/428")
        .col-md-4
            .h3 BricoBio Genomikon Kit
            iframe.synbiota(height="400" scrolling="yes" src="https://www.synbiota.com/embedded/projects/340")
    .row
        .col-md-4
            .h3 #ScienceHack Violacein Factory - Haliburton Launch
            iframe.synbiota(height="400" scrolling="yes" src="https://www.synbiota.com/embedded/projects/450")