doctype
html
  head(lang="en")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href="../main.css")
    link(rel="stylesheet", href="../components/harp-foundation/scss/foundation.css")
    link(href='http://fonts.googleapis.com/css?family=Vollkorn:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300', rel='stylesheet', type='text/css')

    script(type="javascript", src="../components/harp-foundation/js/vendor/modernizr.js")
  body
    != partial("../_partials/nav.jade")
    != partial("../_partials/blog_header.jade")
    .row
      .large-10.columns
        != yield


//- Doing
  needs better layout ~

//- Done
  needs a back to News button
  needs author info