doctype html
html(lang='en')
    !=partial('_partials/_head.jade')
  body
    
    //- Main Content Block
    != partial('_partials/_navbar.jade')
    != yield
    != partial('_partials/_footer.jade')

    //- Analytics
    != partial('_partials/_google_analytics.jade')
    
    //- Logo animation script
    if current.source == "index"
      script.
        //- $('#mainblock').addClass('logo-message')
        $('.radial-progress, #mainhovercapture').hover(
          function () {
            $('.radial-progress').attr('data-progress', 100),
            $('.radial-progress').addClass('card'),
            $('.radial-progress').doTimeout( 'lgot', 2300, function() {
              
              $('#maintitle, #mainlead, #mainmessage').fadeOut('250ms', function() {
                //- TODO: does fadeOut() actually take timing arguments of the form '250ms'? it seems like no, but I might be missing something.
                //- TODO: learn how to debug jquery
                //- TODO: add click-to-pause, fade-in element by logo
                //- -- DONE, but sloppy. TODO: add pause on hover over message element
                //- TODO: allow arbitrary HTML to live inside the modified jumbotron text.
                //- TODO: Should really recode the animation in jquery to have control over all these things.
                $('#mainhovercapture').css({'visibility':'visible'}),
                $('#mainblock').addClass('logo-message'),
                $('#maintitle').html('<i>What is the Bricobio logo?</i>'),
                $('#mainlead').html('A <i>ribosome</i> is a molecular compiler that translates genetic codes into molecular machines. The Bricobio logo contains the classic cartoon representation of the ribosome, with a gear inside to represent the connection between synthetic biology and the DIY ethos. <br> Ribosomes are exceptionally important molecules. One hypothesis of the origin of life names the development of ribosomes as the first step.'),
                $('#maintitle, #mainlead').fadeIn('250ms', function(){})
              })
            }),
            $('.radial-progress').doTimeout('hidr')
          },
          function () {
            $('.radial-progress').attr('data-progress', 0),
            $('.radial-progress').doTimeout('lgot'),
            $('.radial-progress').removeClass('card'),
            $('.radial-progress').doTimeout('hidr', 2300, function(){
              //- TODO: this isn't really the inverse of the previous animatino, so it needs fixing.
              $('#maintitle, #mainlead, #mainmessage').fadeIn('250ms', function() {
                //$('#maintitle, #mainlead, #mainmessage').fadeIn('250ms', function(){}), // not sure why this isn't needed, but ok!
                $('#mainhovercapture').css({'visibility':'hidden'}),
                $('#mainblock').removeClass('logo-message'),
                $('#maintitle').html('Science for everyone.'),
                $('#mainlead').html('Bricobio, Montreal\'s first community biology laboratory.')
              })
            })
          }
        );
        //- $('#mainblock.card').hover( 
        //-   function() {
        //-     $('.radial-progress').attr('data-progress', 100),
        //-     $('.radial-progress').doTimeout('hdir')
        //-   }, 
        //-   function() {
        //-     $('.radial-progress').doTimeout('lgot')
        //-   }
        //- );