.jumbotron
    h1 About Bricobio
.container-fluid
  .main-page-row(style="height: inherit;")
    .container.page-element-card(style="background: #fff;")
      h2 About Bricobio
      p Bricobio is a community-oriented biology group. Inspired by the maker/hacker movement, our aim to make advanced education in biology and biotechnology more accessible. DIY (Do-It-Yourself) biology is growing rapidly, with new organizations being formed each year. Our goal is to inspire innovation, creativity and learning. At our space, we hope to enable people to learn and to experiment, promoting a scientific understanding of biology as well as making new discoveries.
  .main-page-row(style="height: auto;")
    .container.page-element-card(style="background: #fff;")
      h2 Mission
      p Our mission is to promote, share and enable science. We want to provide a space and a community of innovation and learning, whether it's for someone that wants to start a business, or for students, of any level, that want to explore beyond their formal education.
  .main-page-row(style="height: auto;")
    .container.page-element-card(style="background: #fff;")
      h2 Scope of Activities
      p We host workshops, study sessions, and meet-ups where we share learn and discuss scientific and biologically relevant topics, ranging from the microbes that make yogurt or beer to the cutting-edge research in synthetic biology. At our space, we provide opportunities for people to both experiment and develop projects using shared equipment, in a safe, welcoming and accessible environment.
