.jumbotron
    .container
      img(src="/img/bricobrew_workshop_logo.png")
      hr
      p Design Montreal’s best open source beer with Bricobio, Montreal’s DIYbio community. Come to apply your expertise, to learn the biology of fermentation, to meet new friends, and to have a great time!
.container
  .col-md-4
    .row
      h3 Please register for this event on  
        a(href="https://www.eventbrite.ca/e/opensource-workshop-by-bricobio-helios-tickets-12325446743") Eventbrite! 
          span.glyphicon.glyphicon-link
    .row
      h2 Bricobio 
        a(href="/projects/bricobrew.html") Project page 
          span.glyphicon.glyphicon-link
    .row
        p This event will be held at
        h3 Helios Makerspace
        p: b 137 Saint-Ferdinand
        | Room 270
        p Montreal, Quebec
        | H4C 2S6
  .col-md-8
    img.img-responsive(src="/img/bricobrew2poster.jpg")    