.jumbotron(style="background: #fff right center url('/img/DNA-jumbotron-bkg.png') no-repeat;")
    h1 Bricobio Discussion Forum
.row
    .container(style="background-color: #fff;")
        iframe(id="forum_embed", src="https://groups.google.com/forum/embed/?place=forum/bricobio#!forum/bricobio" scrolling="no" frameborder="0").googleCalendarIframe

