.jumbotron(style="background: #fff right center url('/img/DNA-jumbotron-bkg.png') no-repeat;")
    h1 Bricobio Community Calendar
.container.text-center
  .row
    .col-sm-12
      iframe(src="https://www.google.com/calendar/embed?src=l1nv8tbg54emb1p7a1uvj0kr54%40group.calendar.google.com&ctz=America/Montreal" frameborder="0" scrolling="no" ).googleCalendarIframe
