.row(style="background:#fff;")
    .col-sm-12
        h2.text-center Bricobio Discussion Forum
            a(name="contact")
        iframe(id="forum_embed", src="https://groups.google.com/forum/embed/?place=forum/bricobio#!forum/bricobio" scrolling="no" frameborder="0").googleCalendarIframe

