h1 Bricobio

img(src="/img/bricobio_logo.png")

ul
  li 
    a(href="https://drive.google.com/#folders/0B3-riWSoYwWuTjBKUDRPeGFOcW8") Google Drive
    p Google Drive is where we keep all of our documents.
  li 
    a(href="https://groups.google.com/forum/#!forum/bricobio") Google Groups
    p Google Groups is our mailing list. Subscribe here to participate in the discussions we have online
  li 
    a(href="https://www.google.com/calendar/embed?src=l1nv8tbg54emb1p7a1uvj0kr54%40group.calendar.google.com&ctz=America/Montreal") Google Calendar
    p You can announce your own events by joining this calendar, and keep up with the upcoming events at Bricobio.
  li 
    a(href="http://www.trello.com/bricobio") Trello
    p Trello is our project management tool, which we are currently using to work out what our best first project will be to work on as a group.
  li 
    a(href="http://www.meetup.com/DIYBio-Montreal/") Meetup
    p We use our Meetup group to announce meetings and remain open to a wide variety of new members. The main activity of our group, however is in the Google Docs and Google Groups."],
  li 
    a(href="https://github.com/bricobio") Github 
    p Github is the version control website we use to publicly host the software we write.
  li 
    a(href="https://plus.google.com/communities/114975262860730642833") Google+ 
    p The DIYbio Montreal Google Plus group has been around since 2008, and predates Bricobio."],
  li 
    a(href="https://twitter.com/bricobiomtl") @bricobiomtl on Twitter
    p Talk to us @bricobiomtl, and follow our announcements!

h2 Events Calendar
  a(name="EventsCalendar")
.row
  .col-sm-12
    iframe(src="https://www.google.com/calendar/embed?src=l1nv8tbg54emb1p7a1uvj0kr54%40group.calendar.google.com&ctz=America/Montreal" frameborder="0" scrolling="no" ).googleCalendarIframe
