.jumbotron.jumbotron-home.page-element-card
    include _partials/homepage/_jumbotron.jade
.container-fluid
    .main-page-row
        include _partials/homepage/_featured-events.jade
    .main-page-row 
        include _partials/homepage/_featured-projects.jade
        !=partial( '/../_partials/homepage/_featured-projects.jade' )
//-    .main-page-row
        !=partial("_partials/homepage/_recentposts.jade")  