.jumbotron(style="background: #fff right center url('/img/DNA-jumbotron-bkg.png') no-repeat;")
    h1 Projects at Bricobio
.container
  .row.text-center
    .panel-primary.col-md-3(style="margin-bottom:20px;")
      h1.panel-title Check back soon for project updates!
    //- for project in public.projects._data.projects
        .panel-primary.col-md-3(style="margin-bottom:20px;")
            img.panel.img-responsive(src="#{ project.image }")
            h1.panel-title 
                a(href="#{ project.pageurl}") #{ project.name }