.jumbotron
    h1 Bricobio's Projects
.container
  .row.text-center
    - for project in public.projects._data.projects
        .panel-primary.col-md-3
            img.panel.img-responsive(src="#{ project.image }")
            h1.panel-title 
                a(href="#{ project.pageurl}") #{ project.name }